@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(24,24,24);
  background: linear-gradient(163deg, rgba(24,24,24,1) 0%, rgba(30,43,45,1) 0%, rgba(42,70,66,1) 39%, rgba(29,41,34,1) 72%);
  color: white
}